/* CSS File for CODI */

/* Layout.erb Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

body {
  margin-top: 100px;
}

footer {
  padding-top: 30px;
  position: static;
  left:0px;
  right:0;
  bottom:0px;
  text-align: center;
  height: 70px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px) {
  .container {
    width: 1000px; 
  }
}

.codi-link {
	width: 150px;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	text-align: center;
	vertical-align: middle;
	padding-top: 35px;
	height: 90px;
	transition: all 300ms;
}

.codi-link:hover {
	background-color: red;
}

.visible-link {
	padding: 0 10px;
}

.site-logo {
  height: 65px;
  width: 65px;
  margin-right: 10px;
}

.codi-navbar {
  height: 90px;
  background-color: #ffffff;
  overflow: hidden;
}

.navbar-brand {
  width: 270px;
}

.navbar-brand img {
  float: left;
}

.navbar-brand h4 {
  font-size: 23px;
  margin: 5px;
  line-height: 22px;
}

.row1{
  margin-top: 10%;
  margin-left: 8%;
}

.bold{
  font-style: bold;
}

.right{
  margin-left: 5%;
}

.involved{
  padding-left: 10px;
}

.contact{
  padding-left: 10%;
}

/* involved page */

.contributions p{
  padding-left: 70px;
}

.boxed{
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  padding: 3px;
}

.greyish{
  color: #696969;
}

#holder{
  margin-top: 12%;
  margin-left: 5%;
}

.spacer{
  margin-top: 8%;
} 
.icon2{
  width:70px;
  padding-top:22px;
}
.pusher{
  padding-left: 70px;
}


/* CSS for About Page */

.sidebar p {
  padding-left:70px;
}

.org-logo{
  width:32%;
  padding: 10px 40px 20px 0px;
}

.icon{
  width:70px;
  padding-top: 7px;
}

/* CSS for Data Page*/
.dataset-logo {
  float: left;
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.dataset h3 {
  margin-top: 5px;
}

.dataset a {
  text-decoration: none;
  color: #777;
}

.dataset a:hover {
  text-decoration: none;
  color: black;
}

.email {
  color: #14928E;
  font-size: 16px;
}

.github {
  color: #14928E;
  padding-left: 10px;
  font-size: 16px;

}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
