/* CSS File for CODI */

/* Layout.erb Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

footer {
  position: static;
  left:0px;
  bottom:0px;
  text-align: center;
  height: 70px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.codi-link {
	width: 150px;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	text-align: center;
	vertical-align: middle;
	padding-top: 35px;
	height: 90px;
	transition: all 300ms;
}

.codi-link:hover {
	background-color: red;
}

.visible-link {
	padding: 0 10px;
}

.site-logo {
  height: 65px;
  width: 65px;
  margin-right: 10px;
}

.codi-navbar {
  height: 90px;
  background-color: #ffffff;
  overflow: hidden;
}

.navbar-brand {
  width: 270px;
}

.navbar-brand img {
  float: left;
}

.navbar-brand h4 {
  font-size: 23px;
  margin: 5px;
  line-height: 22px;
}