---
title: Home - CODI
---
<div class="index">

<div class="header">
	<h1>Cornell Open Data Initiative</h1>
	<h2>Tools for Building a Smarter, More Connected Community</h2>
</div>

<div class="body">
	<div class="what">
		<h2>What is CODI?</h2>
		<p>The Cornell Open Data Initiative (CODI) is an attempt to create an open and easily accessible data repository for the Cornell community.</p>
	</div>
	<div class="who">
		<h3>Who Are We?</h3>
		<p>CODI is made possible due to the support of several student organizations, as well as individual contributors.</p>
		<img href=>
		<p>Special thanks to Eric Morris (Cornell University Sustainable Design), Eric Appel (CU App Dev), Nikita Dubnov (Cornell University Sustainable Design), Genki Marshall (Open Source Cornell), Priyanka Rathnam (Cornell Data Science), Rina Kang (Cornell University Sustainable Design) and Rahul Madanahalli.</p>
	</div>
	<div class="contact">
		<h3>Questions? Comments? Want to help out?</h3>
		<ul>
			<li>Email</li>
			<li>GitHub</li>
		</ul>
</div>


</div>