---
title: Home - CODI
---

<div class="header">
	<h1>Cornell Open Data Initiative</h1>
	<h2>Tools for Building a Smarter, More Connected Community</h2>
	<br>
	<a href = "data.html" class = "download-button">View the Data</a>
</div>

<div class="container">

	<div class="body">
		<div class="what">
			<h2><strong>What is CODI?</strong></h2>
			<p>The Cornell Open Data Initiative (CODI) is an attempt to create an open and easily accessible data repository for the Cornell community.</p>
		</div>
		<div class="col-md-7 home-info">
			<h2><strong>Who Are We?</strong></h3>
			<p class="greyish">CODI is made possible due to the support of several student organizations, as well as individual contributors.</p>
			<a href="http://cusd.cornell.edu/" target="_blank">
				<%= image_tag "cusdlogo.svg", class: "org-logo" %>
			</a>

			<a href="http://www.cuappdev.org/" target="_blank">
				<%= image_tag "cuappdev.png", class: "org-logo" %>
			</a>

			<a href="http://cornellds.com/index.html" target="_blank">
				<%= image_tag "opensource.png", class: "org-logo" %>
			</a>
			<p class="greyish">Special thanks to Eric Morris (Cornell University Sustainable Design), Eric Appel (CU App Dev), Nikita Dubnov (Cornell University Sustainable Design), Genki Marshall (Open Source Cornell), Priyanka Rathnam (Cornell Data Science), Rina Kang (Cornell University Sustainable Design), Troy Mock (Cornell University Sustainable Design), Greg Schultz (Cornell University Sustainable Design) and Rahul Madanahalli.</p>
		</div>
		<div class="col-md-5" style="height: 450px">
			<h2><strong>Contact</strong></h2>
			<h4>Questions? Comments? Want to help out?</h4>
			<div class="contacts">
				<a href="mailto:info@cuappdev.org" class="email">Email</a>
				<a href="https://github.com/cornell-data" target="_blank" class="github">Github</a>
			</div>		
	</div>

</div>